<h1>Demo</h1>
<input type="number" #idText/>
<button (click)="onSomeEvent(idText.value, 5)">Navigate</button>

<router-outlet></router-outlet>
<!-- <ng-container *observeMerge="[notifications.system, notifications.birthdays]; let source = source">
    <div *onObserverNext="source
                          let notification
                          let index = index
                          let countdown = remaining
                          let elapsed = elapsed
                          viewMode 'multiple'
                          showFor 10000
                          countdownInterval 'animationFrames'
                         "
        class="notification transition"
        [ngClass]="notification?.type ?? ''"
        @grow
    >
        {{notification?.message}}
        <progress [value]="countdown?.totalMilliseconds ?? 0" max="10000"></progress>
    </div>
</ng-container> -->
