/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fill-screen-v {
    min-height: calc(100vh - 64px);
}

.box {
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.76);
    color: rgb(41, 41, 41);
}

.padding-30 {
    padding: 30px !important;
}

.no-padding-top { padding-top: 0 !important; }

.margin-top-10 { margin-top: 10px !important; }
.margin-top-20 { margin-top: 20px !important; }
.margin-top-30 { margin-top: 30px !important; }

.relative {
    position: relative;
}

.absolute {
    position: absolute;

    &.centered {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.text-center {
    text-align: center;
}

.non-link-style {
    text-decoration: none;
    color: inherit;
}

.transition {
    transition: all .4s ease !important;
}

.hover-zoom:hover {
    transform: scale(1.01);
}

.notes {
    padding: 15px;
    background: rgb(184, 183, 181);
    border: 1px solid rgb(77, 74, 74);
    border-left-width: 4px;
    color: rgb(78, 78, 78);
    border-radius: 3px;  
}

/* ========= ⬇ Soon Tag ⬇ ========= */

.soon {
    opacity   : 0.5;
    transition: opacity .5s ease !important;
}

.soon:hover {
    opacity: 1;
}

.soon::before {
    content      : '🚧 Coming Soon';
    position     : absolute;
    top          : 0;
    right        : -10px;
    background   : rgb(212, 71, 141);
    padding      : 5px 15px;
    border-radius: 3px;
    transform    : rotate(7deg);
}

/* ========= ⬆ End Soon Tag ⬆ ========= */
