<div class="cover fill-screen-v relative" fxLayout="column" fxLayoutAlign="center center">
    <div class="cover-image" [style.backgroundImage]="'url(/assets/' + project.name + '/cover.jpg)'"></div>
    <div class="box padding-30 text-center" [ngStyle.xs]="{ width: 'initial' }" [ngStyle.gt-xs]="{ width: '500px' }">
        <div class="logo text-center">
            <img [src]="'assets/' + project.name + '/logo@1.25x.png'" width="297" height="413"/>
        </div>
        <h1 class="title">@bespunky/{{project.name}}</h1>
        <h3 class="subtitle">{{project.slogan}}</h3>
        <button mat-raised-button color="primary" (click)="slideTo(demos)">Start Experimenting</button>
    </div>

    <div class="margin-top-30 text-center" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px" *ngIf="project.linkedProjects.length">
        <a mat-raised-button *ngFor="let linkedProject of project.linkedProjects"
                             [routerLink]="['/', linkedProject.name]"
                             class="project-link"
        >
            <img [src]="'assets/' + linkedProject.name + '/logo64x64.png'"/>
        </a>
    </div>
</div>

<div class="benefits padding-30" fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="15px">
    <h1 class="text-center">The Cool Benefits</h1>
    <h3 class="text-center">{{project.benefitsSlogan}}</h3>

    <demo-library-benefits [benefits]="project.benefits"></demo-library-benefits>

    <div class="text-center">
        <a mat-raised-button color="primary" [href]="project.wikiUrl" target="_blank" class="margin-top-30">See The Docs</a>
    </div>
</div>

<div class="demos padding-30" #demos>
    <a name="demos"></a>
    <h1 class="text-center">Demos</h1>
    <h3 class="text-center">⚡ All of the examples are served using StackBlitz. For tips and insights, look below the map.</h3>
    
    <demo-example-list [cards]="cards" class="padding-30"></demo-example-list>

    <h3 class="text-center">🚧 More coming soon...</h3>
</div>

<div class="footer padding-30" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
    <span>This demo site and the library are provided freely under the <a href="https://choosealicense.com/licenses/mit/" target="_blank">MIT license</a>.</span>
    <span>Issues and requests can be sent to <a href="mailto:us@bespunky.io?subject=@bespunky/angular-google-maps" target="_blank">us@bespunky.io</a>.</span>
    <small *ngFor="let credit of project.credits"><a [href]="credit.url" target="_blank">{{credit.text}}</a></small>
</div>