@keyframes magic {
    0% {
        text-shadow: -6px -6px 2px rgb(129, 5, 5);
        font-size: 1em;
    }
    25% {
        text-shadow: 1px 1px 1px rgb(0, 31, 97);
        font-size: 0.9em;
    }
    50% {
        text-shadow: 19px 1px 1px rgb(248, 248, 30);
        font-size: 1.1em;
    }
    100% {
        text-shadow: -6px -6px 2px rgb(102, 2, 2);
        font-size: 1em;
    }
}

.magical {
    animation: 3.5s linear infinite magic;
}